td {
    text-align: left;
}

table,
th,
td {
    border: 1px solid;
}

.Parent {
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 70%;
    height: 100vh;
    color: white;
}

.child2 {
    width: 30%;
    height: 100vh;
}

canvas {
    width: 80% !important;
    height: 80% !important;
}